@model SistemaEduEscola.Models.Unidade

@{
    ViewData["Title"] = "Cadastrar";
}


<h4 style="margin-top:100px">Cadastrar Unidade</h4>
<hr />
<div class="row">
    <div class="row">
        <form class="row g-3" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-md-6">
                <label asp-for="NomeUnidade" class="control-label">Unidade:</label>
                <input asp-for="NomeUnidade" class="form-control" />
                <span asp-validation-for="NomeUnidade" class="text-danger"></span>

                <label asp-for="Enderoco" class="control-label">Endereço: </label>
                <input asp-for="Enderoco" class="form-control" />
                <span asp-validation-for="Enderoco" class="text-danger"></span>
            </div>
            <div class=" col-md-6">
                <label asp-for="QtdAlunos" class="control-label">Nº Alunos:</label>
                <input asp-for="QtdAlunos" class="form-control" />
                <span asp-validation-for="QtdAlunos" class="text-danger"></span>

                <label asp-for="QtdTurmas" class="control-label">Nº Turmas: </label>
                <input asp-for="QtdTurmas" class="form-control" />
                <span asp-validation-for="QtdTurmas" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-dark" /> |
                <a class="btn btn-dark" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
