@{
    ViewData["Title"] = "Home";
}
<br>
<br>
<br>
<br>
<br>
<br>
<h2>Sistema Escolar </h2>
<br>

<div class="line">
    <div class="container text-center">
        <div class="row">
            <div class="col" style="width: 18rem;">
                <div class="card-body text-center text-bg-warning" style="padding:40px;  border-radius:5px">
                    <h4 class="card-title text-dark">Sobre Nossas</h4><br />
                    <h6><a class="nav-link text-dark" asp-area="" asp-controller="Unidades" asp-action="Index">Unidade</a></h6>
                    
                </div>
            </div>
            <div class="col" style="width: 18rem;"> 
                <div class="card-body text-center text-bg-warning" style="padding:40px; border-radius:5px">
                    <h4 class="card-title text-dark">Sobre Nossos</h4><br />
                    <h6><a class="nav-link text-dark" asp-area="" asp-controller="Alunos" asp-action="Index">Alunos</a></h6>
                    
                </div>
            </div> 
            <div class="col" style="width: 18rem; "> 
                <div class="card-body text-center text-bg-warning" style="padding:40px; border-radius:5px">
                    <h4 class="card-title text-dark">Sobre Nossas</h4><br />
                    <h6><a class="nav-link text-dark" asp-area="" asp-controller="Turmas" asp-action="Index">Turmas</a></h6>
                    
                </div>
            </div>
            <div class="col" style="width: 18rem;">
                <div class="card-body text-center text-bg-warning" style="padding:40px; border-radius:5px">
                    <h4 class="card-title text-dark">Sobre Nossas</h4><br />
                    <h6><a class="nav-link text-dark" asp-area="" asp-controller="Materias" asp-action="Index">Matérias</a></h6>
                    
                </div>
            </div>
            <div class="col" style="width: 18rem;">
                <div class="card-body text-center text-bg-warning" style="padding:40px; border-radius:5px">
                    <h4 class="card-title text-dark">Sobre Nossos</h4><br />
                    <h6><a class="nav-link text-dark" asp-area="" asp-controller="Professors" asp-action="Index">Professores</a></h6>
                    
                </div>
            </div>
        </div>
</div>
